<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
	$(document).ready(function() {
	    $("#1").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("2").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("3").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("4").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("5").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("6").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("7").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("8").click(function () {
	    	$("#focusedInput").text("1");
	    });
	    $("9").click(function () {
	    	$("#focusedInput").text("1");
	    });
	});
</script>

</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>The calculator is ready</h1> 
  </div>
</div>

<div class="container">
	<form class="form-horizontal" role="form">
	    <div class="form-group">
	      <div class="col-sm-3">
	        <input class="form-control" id="focusedInput" type="text" value="0"readonly>
	      </div>
	    </div>
	    <div class="form-group">
	    	<div class="col-sm-3">
	    	    <div class="col-sm-3" id="1"><input type="submit" class="btn btn-info" value="1"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="2" id="2"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="3" name="3"></div>
	      	</div>
	    </div>
	    <div class="form-group">
	    	<div class="col-sm-3">
	    	    <div class="col-sm-3"><input type="submit" class="btn btn-info" value="4" name="4"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="5" name="5"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="6" name="6"></div>
	      	</div>
	    </div>
	    <div class="form-group">
	    	<div class="col-sm-3">
	    	    <div class="col-sm-3"><input type="submit" class="btn btn-info" value="7" name="7"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="8" name="8"></div>
	        	<div class="col-sm-3"><input type="submit" class="btn btn-info" value="9" name="9"></div>
	      	</div>
	    </div>
	</form>
</div>

</body>
</html>